@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-lexend {
  font-family: 'Lexend Exa', sans-serif;
}

.font-montserrat {
  font-family: 'Bricolage Grotesque', sans-serif;
}

html {
  scroll-behavior: smooth;
}